@model ToDoList.ViewModel.TaskViewModel
@using ToDoList.DataAccess.Enums.Translations

@{
    ViewBag.Title = "Видалення завдання";
}
<h3>Видалення завдання</h3>

<h4>Ви дійсно хочете видалити вибране завдання?</h4>
<div>
    <h5>@Html.DisplayFor(model => model.Name)</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <b>Опис завдання</b>
                </th>
                <th>
                    <b>Пріоритет завдання</b>
                </th>
                <th>
                    <b>Статус завдання</b>
                </th>
                <th>
                    <b>Дата виконання</b>
                </th>
                <th>
                    <b>Час виконання</b>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => modelItem.Description)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => modelItem.TranslatedPriorityLevel)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => modelItem.TranslatedTaskState)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => modelItem.EndDate)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => modelItem.EndTime)
                </th>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-4">
            <form class="delete-form" asp-action="Delete" method="post"
                  asp-route-selectedTaskName="@(Model.FilterViewModel!.SelectedTaskName)"
                  asp-route-selectedTaskState="@(Model.FilterViewModel.SelectedTaskState)"
                  asp-route-selectedPriorityLevel="@(Model.FilterViewModel.SelectedPriorityLevel)"
                  asp-route-selectedSortState="@(Model.SortViewModel.SelectedSortState)">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Видалити" />
            </form>
        </div>
        <div class="col-4">
            <a asp-action="Index"
               asp-route-selectedTaskName="@(Model.FilterViewModel.SelectedTaskName)"
               asp-route-selectedTaskState="@(Model.FilterViewModel.SelectedTaskState)"
               asp-route-selectedPriorityLevel="@(Model.FilterViewModel.SelectedPriorityLevel)"
               asp-route-selectedSortState="@(Model.SortViewModel.SelectedSortState)">
                <input type="button" value="Назад до списку завдань" />
            </a>
        </div>
    </div>
</div>